build/
docs/_build/
*.root
core_dump*
macro/h7_test/cuts
macro/h7_test/parameters
macro/tests/cuts
macro/tests/parameters
run.sh
*.sw*
core*
.vscode/
FairRoot-v-17.10_patches/
er.code-workspace
macro/EXPC7/
macro/Gadast/Pics/
